* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

/* HEADER SECTION */

header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
}

.logo {
    width: 20%;
}

.logo img {
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: rgba(98, 98, 98, 0.68);
}


/* BANNER SECTION */

.banner {
    width: 90%;
    padding-bottom: 80px;
}

.banner img {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ARTICLE SECTION */

article {
    width: 80%;
    margin: auto;
    padding-bottom: 120px;
}

article h5 {
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
}

article h1 {
    color: rgb(98, 98, 98);
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
}

article p {
    color: rgb(98, 98, 98);
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 60px;
    font-family: "Playfair Display", serif;
}

article h6 {
    color: rgb(180, 173, 158);
    font-size: 16px;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
article h6:hover{
    color: rgba(98, 98, 98, 0.507);
}
.feature_section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.item {
    width: 45%;
    margin-bottom: 60px;
}

.item img {
    width: 100%;
    margin-bottom: 18px;
}

.item h5 {
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin-bottom: 12px;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.item h2 {
    color: rgb(98, 98, 98);
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
}

.item p {
    color: rgb(98, 98, 98);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
}

.item-minimize {
    margin-bottom: 0px;
}


/* NEWSLETTER SECITON */

.newletter_section {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 100px 0px;
    margin-bottom: 120px;
}

.newsletter_contents {
    width: 25%;
    margin: auto;
    position: relative;
}

.newsletter_contents h2 {
    color: rgb(98, 98, 98);
    margin-bottom: 53px;
    font-size: 28px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
}

.newsletter_contents input {
    background-color: transparent;
    border: none;
    border-image: initial;
    border-bottom: 2px solid rgba(0, 0, 0, 0.31);
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
}

.newsletter_contents img {
    position: absolute;
    bottom: 5px;
    right: 0px;
    cursor: pointer;
}

.newsletter_contents input::placeholder {
    color: rgb(98, 98, 98);
    font-family: "Playfair Display", serif;
}

.newsletter_contents input:focus {
    outline: none;
}

.newsletter-spacing {
}

.load_more {
    text-align: center;
    padding-bottom: 150px;
}

.load_more button {
    background-color: transparent;
    color: rgb(98, 98, 98);
    padding: 12px 25px;
    border: 1px solid rgba(98, 98, 98, 0.22);
    font-family: "Playfair Display", serif;
    font-size: 17px;
}
.load_more button:hover{
    background-color: rgb(98, 98, 98);
    color: white;
    cursor: pointer;
}
footer {
    background-color: rgb(240, 240, 240);
}

.footer_contents {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 25px 0px;
    align-items: center;
}

.terms_and_conditions {
    width: 30%;
}

.terms_and_conditions ul {
    display: flex;
}

.terms_and_conditions ul li {
    list-style: none;
    margin-right: 10px;
}

.terms_and_conditions ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "Playfair Display", serif;
    margin-right: 25px;
}
.terms_and_conditions ul li a:hover{
    color: rgb(98, 98, 98);
}

.social_links {
    width: 70%;
}

.social_links ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.social_links ul li {
}

.social_links ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    color: black;
    margin-right: 25px;
}

.disable-link {
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.social_links ul li a:hover {
    color: rgb(98, 98, 98);
}
.feature-section-minimize{
    padding-bottom: 0px;
}